.pfp {
    border: 5px solid #f8f9fa;
    border-radius: 50%;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-img {
    transition: filter 0.5s, transform 0.5s;
}

.card:hover .card-img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.grayscale {
    filter: grayscale(100%);
}

.card-title {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    padding: 10px;
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    padding: 5px;
    offset-distance: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;  
}

.content-section {
    margin-top: 20px; /* Adjust the value as needed */
}

.content-section {
    margin-top: 20px; /* Adjust the value as needed */
}

.colmid {
    border-right: 5px solid #f8f9fa;
    border-left: 5px solid #f8f9fa;
}
.video {
    width: 711px;
    height: 400px;
    border: 0;
  }

body {
    background-color: #0a131d;
}